<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">
      <div class="page-title">
        <div class="container">
          <h1>Login</h1>
          <div class="page-title-actions">
            <div class="switcher">
              <strong>Currency</strong>
              <ul>
                <li class="active"><a href="#">USD</a></li>
                <li><a href="#">EUR</a></li>
              </ul>
            </div>
            <!-- /.switcher -->
            <div class="switcher">
              <strong>Language</strong>
              <ul>
                <li class="active"><a href="#">EN</a></li>
                <li><a href="#">FR</a></li>
                <li><a href="#">DE</a></li>
              </ul>
            </div>
            <!-- /.switcher -->
          </div>
          <!-- /.page-title-actions -->
        </div>
        <!-- /.container-->
      </div>
      <!-- /.page-title -->
      <div class="container">
        <nav class="breadcrumb">
          <a class="breadcrumb-item" href="#">Home</a>
          <a class="breadcrumb-item" href="#">Library</a>
          <a class="breadcrumb-item" href="#">Data</a>
          <span class="breadcrumb-item active">Bootstrap</span>
        </nav>
        <div class="row mb80">
          <div class="col-sm-4 offset-sm-4">
            <h3 class="page-title-small">Login</h3>
              <form method="post" action="?">
                <div class="form-group">
                  <label for="login-form-email">E-mail</label>
                  <input type="email" class="form-control" name="email" id="login-form-email">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                  <label for="login-form-password">Password</label>
                  <input type="password" class="form-control" name="password" id="login-form-password">
                </div>
                <!-- /.form-group -->
                <button type="submit" class="btn btn-primary pull-right">Login</button>
              </form>
          </div>
          <!-- /.col-sm-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.main-inner -->
  </div>
  <!-- /.main -->
</div>