<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">
      <div class="page-title">
        <div class="container">
          <h1>Update Listing</h1>
          <!-- /.page-title-actions -->
        </div>
        <!-- /.container-->
      </div>
      <!-- /.page-title -->
      <div class="container" *ngIf="listing.id">
          <app-listing-form [listing]="listing" (onSubmit)="onSubmit($event)"></app-listing-form>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.main-inner -->
  </div>
  <!-- /.main -->
</div>
