<!-- /.header-wrapper -->
<div class="hero-image-wrapper">
  <div
    class="hero-image-src"
    style="background-image: url('assets/img/tmp/hero-classified.jpg');"
  ></div>
  <!-- /.hero-image-src -->
  <div class="hero-image">
    <div class="hero-image-inner">
      <div class="hero-image-content">
        <div class="container">
          <div class="center">
            <h1 class="hero-image-content-title-simple float-none">
              Discover Best City Spots
            </h1>
            <p class="float-none">
              Orci varius natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus.
            </p>
            <form method="post" (submit)="onSearch(f)" #f="ngForm">
              <div class="row justify-content-sm-center">
                <div class="col-sm-4">
                  <div class="input-group">
                    <span class="input-group-addon no-border"
                      ><i class="fa fa-location-arrow"></i
                    ></span>
                    <input
                      type="text" id="search-location" [(ngModel)]="searchLocation" [ngbTypeahead]="search"
                      class="form-control no-border form-control-xl" name="searchLocation"
                      placeholder="Type your address ..." required
                    />
                  </div>
                  <!-- /.form-group -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary btn-xl">
                    <i class="fa fa-search"></i> Search
                  </button>
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </form>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.hero-image-content -->
    </div>
    <!-- /.hero-image-inner -->
    <div class="hero-image-categories">
      <a [routerLink]="['/app/listing/list']" [queryParams]="{ category: 1}" class="hero-image-category">
        <i class="fa fa-map-o"></i>
        <strong>Residential</strong> </a
      ><!-- /.hero-image-category -->

      <a [routerLink]="['/app/listing/list']" [queryParams]="{ category: 2}" class="hero-image-category">
        <i class="fa fa-handshake-o"></i>
        <strong>Commercial</strong> </a
      ><!-- /.hero-image-category -->
    </div>
    <!-- /.hero-image-categories -->
  </div>
  <!-- /.hero-image -->
</div>
<!-- /.hero-image-wrapper -->
<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">
      <div class="container">
        <div class="content">
          <div class="page-header">
            <h2>Top Locations</h2>
            <p>
              See the most recent listings available in directory catalogue
              added by our users. All listings are verified by our editors
              staff.
            </p>
          </div>
          <!-- /.block-inner -->

          <div class="listing-boxes">
            <div class="row mb-30">
              <div class="col-3" *ngFor="let listing of listings">
                <div class="listing-box">
                  <div class="listing-box-inner">
                    <span class="listing-box-featured">Featured</span>
                    <a
                      [routerLink]="['/app', 'listing', listing.id, 'show']"
                      class="listing-box-image"
                    >
                      <span
                        class="listing-box-image-content"
                        [ngStyle]="{
                          'background-image': 'url(' + listing.thumbnail + ')'
                        }"
                      ></span
                      ><!-- /.listing-box-image-content -->
                      <span class="listing-box-category tag">{{
                        listing.category
                      }}</span>
                      <span
                        class="listing-box-rating"
                        [innerHTML]="buildRating(listing.rating)"
                      >
                      </span> </a
                    ><!-- /.listing-box-image -->
                    <div class="listing-box-content">
                      <h2>
                        <a
                          [routerLink]="['/app', 'listing', listing.id, 'show']"
                          >{{ listing.title }}</a
                        >
                      </h2>
                      <h3>{{ listing.address }}</h3>

                      <!-- /.actions -->
                    </div>
                    <!-- /.listing-box-content -->
                    <div class="listing-box-attributes">
                      <dl>
                        <dt>Rent</dt>
                        <dd>{{ listing.price }}</dd>
                        <dt>Is Available</dt>
                        <dd>
                          {{ listing.is_active == true ? "YES" : "NO" }}
                        </dd>
                        <dt>Featured</dt>
                        <dd>
                          {{ listing.is_featured == false ? "YES" : "NO" }}
                        </dd>
                      </dl>
                    </div>
                    <!-- /.listing-box-attributes -->
                  </div>
                  <!-- /.listing-box-inner -->
                </div>
                <!-- /.listing-box -->
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.listing-boxes -->

          <div class="page-header">
            <h2>Testimonials</h2>

          <!-- /.carousel-fullwidth -->
          <div class="carousel-fullwidth">
            <div class="carousel-fullwidth-inner">
              <div class="testimonials-wrapper">
                <div class="row">
                  <div class="col-lg-4 push-lg-4">
                    <div class="testimonials">
                      <div class="testimonial-inner">
                        <blockquote>
                          Aenean porta sem a nulla vehicula commodo. Quisque
                          eleifend mollis tincidunt. Phasellus purus leo,
                          facilisis in egestas non, gravida non felis. Nullam
                          sit amet vestibulum leo.
                        </blockquote>
                        <div class="testimonial-user">
                          <span
                            class="testimonial-user-avatar"
                            style="
                              background-image: url('assets/img/tmp/user-1.jpg');
                            "
                          ></span>
                          <span class="testimonial-user-name">
                            <strong>Barbara B. Reid</strong>
                            <span>CEO at Super Company</span>
                          </span>
                        </div>
                        <!-- /.testimonial-user -->
                      </div>
                      <!-- /.testimonial-inner -->
                      <div class="testimonial-inner">
                        <blockquote>
                          Aenean porta sem a nulla vehicula commodo. Quisque
                          eleifend mollis tincidunt. Phasellus purus leo,
                          facilisis in egestas non, gravida non felis. Nullam
                          sit amet vestibulum leo.
                        </blockquote>
                        <div class="testimonial-user">
                          <span
                            class="testimonial-user-avatar"
                            style="
                              background-image: url('assets/img/tmp/user-2.jpg');
                            "
                          ></span>
                          <span class="testimonial-user-name">
                            <strong>Barbara B. Reid</strong>
                            <span>CEO at Super Company</span>
                          </span>
                        </div>
                        <!-- /.testimonial-user -->
                      </div>
                      <!-- /.testimonial-inner -->
                      <div class="testimonial-inner">
                        <blockquote>
                          Aenean porta sem a nulla vehicula commodo. Quisque
                          eleifend mollis tincidunt. Phasellus purus leo,
                          facilisis in egestas non, gravida non felis. Nullam
                          sit amet vestibulum leo.
                        </blockquote>
                        <div class="testimonial-user">
                          <span
                            class="testimonial-user-avatar"
                            style="
                              background-image: url('assets/img/tmp/user-3.jpg');
                            "
                          ></span>
                          <span class="testimonial-user-name">
                            <strong>Barbara B. Reid</strong>
                            <span>CEO at Super Company</span>
                          </span>
                        </div>
                        <!-- /.testimonial-user -->
                      </div>
                      <!-- /.testimonial-inner -->
                      <div class="testimonial-inner">
                        <blockquote>
                          Aenean porta sem a nulla vehicula commodo. Quisque
                          eleifend mollis tincidunt. Phasellus purus leo,
                          facilisis in egestas non, gravida non felis. Nullam
                          sit amet vestibulum leo.
                        </blockquote>
                        <div class="testimonial-user">
                          <span
                            class="testimonial-user-avatar"
                            style="
                              background-image: url('assets/img/tmp/user-4.jpg');
                            "
                          ></span>
                          <span class="testimonial-user-name">
                            <strong>Barbara B. Reid</strong>
                            <span>CEO at Super Company</span>
                          </span>
                        </div>
                        <!-- /.testimonial-user -->
                      </div>
                      <!-- /.testimonial-inner -->
                      <div class="testimonial-inner">
                        <blockquote>
                          Aenean porta sem a nulla vehicula commodo. Quisque
                          eleifend mollis tincidunt. Phasellus purus leo,
                          facilisis in egestas non, gravida non felis. Nullam
                          sit amet vestibulum leo.
                        </blockquote>
                        <div class="testimonial-user">
                          <span
                            class="testimonial-user-avatar"
                            style="
                              background-image: url('assets/img/tmp/user-5.jpg');
                            "
                          ></span>
                          <span class="testimonial-user-name">
                            <strong>Barbara B. Reid</strong>
                            <span>CEO at Super Company</span>
                          </span>
                        </div>
                        <!-- /.testimonial-user -->
                      </div>
                      <!-- /.testimonial-inner -->
                    </div>
                    <!-- /.testimonials -->
                  </div>
                  <!-- /.col-* -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            <!-- /.carousel-fullwidth-inner -->
          </div>
        </div>
        <!-- /.content -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.main-inner -->
  </div>
  <!-- /.main -->
</div>
