<div class="map-wrapper">
  <div class="map" style="height: 680px;">
    <div class="map-inner">
      <div class="map-object">
        <div id="map-details"></div>
        <div class="map-toolbar">
          <div class="map-toolbar-group">
            <div
              id="map-toolbar-action-zoom-in"
              class="map-toolbar-group-item"
              (click)="actionZoomIn()"
            >
              <i class="fa fa-plus"></i>
            </div>
            <div
              id="map-toolbar-action-zoom-out"
              class="map-toolbar-group-item"
              (click)="actionZoomOut()"
            >
              <i class="fa fa-minus"></i>
            </div>
          </div>

          <div class="map-toolbar-group">
            <div
              id="map-toolbar-action-roadmap"
              class="map-toolbar-group-item"
              (click)="actionType('ROADMAP')"
            >
              Roadmap
            </div>
            <div
              id="map-toolbar-action-satellite"
              class="map-toolbar-group-item"
              (click)="actionType('SATELLITE')"
            >
              Satellite
            </div>
            <div
              id="map-toolbar-action-terrain"
              class="map-toolbar-group-item"
              (click)="actionType('TERRAIN')"
            >
              Terrain
            </div>
            <div
              id="map-toolbar-action-hybrid"
              class="map-toolbar-group-item"
              (click)="actionType('HYBRID')"
            >
              Hybrid
            </div>
          </div>
        </div>
        <!-- /.map-toolbar -->
      </div>
      <!-- /#map-object -->
    </div>
    <!-- /.map-inner -->
  </div>
  <!-- /.map -->
</div>
<!-- /.map-wrapper -->

<!-- style="background-image: url('assets/img/tmp/listing-9.jpg')" -->
<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">
      <div class="listing-hero">
        <div class="listing-hero-inner">
          <div class="container">
            <!-- <div
              class="listing-hero-image"
              [ngStyle]="{'background-image': 'url(' + (getUrl(listing)) + ')'}"
            ></div> -->
            <!-- /.listing-hero-image -->
            <h1>{{ listing?.title }} <i class="fa fa-check"></i></h1>
            <address>
              {{ getAddress(listing) }}
            </address>
            <ul class="social">
              <!-- <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google"></i></a>
              </li> -->
            </ul>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.listing-hero-inner -->
      </div>
      <!-- /.listing-hero -->
      <div class="listing-toolbar-wrapper">
        <div class="listing-toolbar" data-spy="affix" data-offset-top="203">
          <div class="container">
            <ul class="nav"></ul>
            <!-- /.nav -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.listing-toolbar -->
      </div>
      <!-- /.listing-toolbar-wrapper -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-9">
            <div
              class="listing-detail-section"
              id="listing-detail-section-description"
              data-title="Description"
            >
              <div class="gallery" style="margin-top: 0px;">
                <div
                  *ngIf="listing?.images.length == 0"
                  class="gallery-item"
                  style="background-image: url(assets/img/tmp/listing-22.jpg);"
                ></div>
                <!-- /.gallery-item -->
                <ng-container *ngIf="listing?.images.length > 0">
                  <div
                    *ngFor="let image of listing.images"
                    class="gallery-item"
                    [ngStyle]="{
                      'background-image': 'url(' + getImgUrl(image) + ')'
                    }"
                  ></div>
                </ng-container>
              </div>
              <!-- /.gallery -->
              <div class="row">
                <div class="col-lg-5">
                  <div class="overview">
                    <h2>Listing Attributes</h2>
                    <ul>
                      <li>
                        <strong>Rent</strong
                        ><span>Rs {{ listing?.price }} / per month</span>
                      </li>
                      <li>
                        <strong>Location</strong
                        ><span>{{ listing?.city }}</span>
                      </li>
                      <li>
                        <strong>Type</strong
                        ><span>{{ listing?.category | titlecase }}</span>
                      </li>
                      <li>
                        <strong>Is Available</strong
                        ><span>
                          {{ listing?.is_active == true ? "YES" : "NO" }}</span
                        >
                      </li>
                      <li>
                        <strong>Featured</strong
                        ><span>
                          {{
                            listing?.is_featured == false ? "YES" : "NO"
                          }}</span
                        >
                      </li>
                      <!-- <li><strong>Bedrooms</strong><span>4</span></li>
                      <li><strong>Bathrooms</strong><span>2</span></li>
                      <li><strong>Area</strong><span>180 sqft</span></li> -->
                    </ul>
                  </div>
                  <!-- /.overview -->
                </div>
                <!-- /.col-* -->
                <div class="col-lg-7">
                  <h2>Description</h2>
                  <p>
                    {{ listing?.description }}
                  </p>
                </div>
                <!-- /.col-* -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.listing-detail-section -->

            <div
              class="listing-detail-section"
              id="listing-detail-section-contact-information"
              data-title="Contact"
            >
              <h2>Contact Information</h2>
              <div class="box">
                <div class="box-inner">
                  <div class="overview overview-half overview-no-margin">
                    <ul>
                      <li>
                        <strong>Name</strong
                        ><span>{{
                          listing?.user?.first_name +
                            " " +
                            listing?.user?.last_name
                        }}</span>
                      </li>

                      <li>
                        <strong>E-mail</strong
                        ><span
                          ><a href="mailto:">{{
                            listing?.user?.email
                          }}</a></span
                        >
                      </li>
                      <li>
                        <strong>Phone</strong
                        ><span>{{ listing?.user?.phone }}</span>
                      </li>
                    </ul>
                  </div>
                  <!-- /.overview -->
                </div>
                <!-- /.box-inner -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.listing-detail-section -->

            <!-- /.listing-detail-section -->
            <div
              class="listing-detail-section mb80"
              id="listing-detail-section-reviews"
              data-title="Reviews"
            >
              <div class="box">
                <div class="box-inner">
                  <div class="box-title">
                    <h2>Recent Reviews</h2>
                  </div>
                  <!-- /.box-title -->
                  <ul class="comments">
                    <li *ngFor="let review of listing?.reviews">
                      <div class="comment">
                        <div class="comment-author">
                          <a
                            href="#"
                            style="background-image: url('assets/img/tmp/user-1.jpg');"
                          ></a>
                        </div>
                        <!-- /.comment-author -->
                        <div class="comment-content">
                          <div class="comment-meta">
                            <div class="comment-meta-author">
                              {{ review?.user?.first_name }}
                              {{ review?.user?.last_name }}
                            </div>
                            <!-- /.comment-meta-author -->
                            <div class="comment-meta-date">
                              <span>{{
                                review.created_at | date: "medium"
                              }}</span>
                            </div>

                            <div
                              class="comment-buttons float-right"
                              *ngIf="
                                currentUser &&
                                currentUser.id == review?.user?.id
                              "
                            >
                              <button
                                class="btn btn-sm btn-danger"
                                title="delete"
                                (click)="onDeleteRating(review.id)"
                              >
                                <i class="fa fa-trash"></i>
                              </button>
                              <button
                                class="btn btn-sm btn-info"
                                title="update"
                                (click)="onEditClick(review)"
                              >
                                <i class="fa fa-edit"></i>
                              </button>
                            </div>
                          </div>
                          <!-- /.comment -->
                          <div class="comment-body">
                            <div class="comment-rating">
                              <b [innerHTML]="buildRating(review.rating)"></b>
                            </div>
                            <!-- /.comment-rating -->
                            <p>
                              {{ review.review }}
                            </p>
                          </div>
                          <!-- /.comment-body -->
                        </div>
                      </div>
                      <!-- /.comment -->
                    </li>
                    <li
                      *ngIf="listing?.reviews.length == 0"
                      class="text-center"
                    >
                      No Reviews Yet
                    </li>
                  </ul>
                  <hr />
                  <ng-container *ngIf="currentUser">
                    <h4>Create New Review</h4>
                    <form
                      method="post"
                      (submit)="f.valid && onReviewSubmit()"
                      id="comment-form"
                      #f="ngForm"
                    >
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Message</label>
                            <textarea
                              class="form-control"
                              style="height: 191px;"
                              [(ngModel)]="reviewObj.review"
                              name="review"
                              required
                            ></textarea>
                          </div>
                          <!-- /.form-group -->
                        </div>
                        <!-- /.col-* -->
                      </div>
                      <!-- /.row -->
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Ratings</label>
                            <!-- <div class="rating-item"></div> -->
                            <app-rating
                              [rating]="this.reviewObj.rating"
                              (ratingClick)="onRatingClick($event)"
                            ></app-rating>
                          </div>
                          <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <button type="submit" class="btn btn-primary pull-right">
                        Post Comment
                      </button>
                      <button
                        class="btn btn-danger pull-right ml-1 mr-1"
                        type="button"
                        (click)="clearReviewForm()"
                      >
                        Delete
                      </button>
                    </form>
                  </ng-container>
                </div>
                <!-- /.box-inner -->
              </div>
              <!-- /.box-->
            </div>
            <!-- /.listing-detail-section -->
          </div>
          <!-- /.col-* -->
          <div class="col-md-4 col-lg-3">
            <div class="sidebar">
              <div class="widget">
                <ul class="nav actions flex-column">
                  <!-- <li class="nav-item featured">
                    <a href="#" class="nav-link">
                      <i class="fa fa-file-text-o"></i> Claim Listing
                    </a>
                  </li> -->
                  <ng-container *ngIf="currentUser">
                    <li
                      class="nav-item"
                      *ngIf="!is_bookmarked; else bookmarked"
                    >
                      <a (click)="addBookmark()" class="nav-link">
                        <i class="fa fa-star-o"></i> Add to Favorites
                      </a>
                    </li>
                    <ng-template #bookmarked>
                      <li class="nav-item">
                        <a (click)="removeBookmark()" class="nav-link">
                          <i class="fa fa-star"></i> Remove from Favorites
                        </a>
                      </li>
                    </ng-template>
                  </ng-container>
                  <!-- <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fa fa-flag"></i> Report Listing
                    </a>
                  </li> -->
                  <li class="nav-item">
                    <a
                      href="#"
                      class="nav-link"
                      onclick="window.print(); return false;"
                    >
                      <i class="fa fa-print"></i> Print page
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fa fa-facebook"></i> Share on Facebook
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fa fa-google"></i> Share on Google+
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fa fa-twitter"></i> Share on Twitter
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="fa fa-linkedin"></i> Share on LinkedIn
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.widget -->
              <div class="widget">
                <h3 class="widgettitle">Recent Listings</h3>
                <div>
                  <div class="listing-row-medium" *ngFor="let list of latest">
                    <div class="listing-row-medium-inner">
                      <a
                        [routerLink]="['/app', 'listing', list?.id, 'show']"
                        class="listing-row-medium-image"
                        [ngStyle]="{
                          'background-image': 'url(' + list.thumbnail + ')'
                        }"
                      >
                      </a>
                      <div class="listing-row-medium-content">
                        <a
                          class="listing-row-medium-price"
                          [routerLink]="['/app', 'listing', list?.id, 'show']"
                          >Rs {{list.price}}</a
                        >
                        <a
                          class="listing-row-medium-category tag"
                          [routerLink]="['/app', 'listing', list?.id, 'show']"
                          >{{list.category}}</a
                        >
                        <h4 class="listing-row-medium-title">
                          <a [routerLink]="['/app', 'listing', list?.id, 'show']">{{list.title}}</a>
                        </h4>
                        <div class="listing-row-medium-address">
                          {{ list.address }}
                        </div>
                        <!-- /.listing-row-medium-address -->
                      </div>
                      <!-- /.listing-row-medium-content -->
                    </div>
                    <!-- /.listing-row-medium-inner -->
                  </div>
                  <!-- /.listings-row-medium -->
                </div>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /.sidebar -->
          </div>
          <!-- /.col-* -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.main-inner -->
  </div>
  <!-- /.main -->
</div>
