<div class="header-wrapper {{ headerClass }}">
  <div class="header">
    <div class="container-fluid">
      <div class="header-inner">
        <div class="navigation-toggle toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- /.header-toggle -->
        <div class="header-logo">
          <a routerLink="/home">
            <img src="assets/img/logo.svg" class="svg" alt="Home" />
          </a>
          <a routerLink="/home" class="header-title">Explorer</a>
        </div>
        <!-- /.header-logo -->
        <div class="header-nav">
          <div class="primary-nav-wrapper">
            <ul class="nav">
              <li class="nav-item">
                <a routerLink="/app/home" routerLinkActiveOptions="{ exact: true }" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a routerLink="/app/listing/list" routerLinkActiveOptions="{ exact: true }" class="nav-link">Properties</a>
              </li>
              <li class="nav-item" *ngIf="!currentUser">
                <a routerLink="/auth/login" routerLinkActiveOptions="{ exact: true }" class="nav-link ">Login</a>
              </li>
            </ul>
          </div>
          <!-- /.primary-nav-wrapper -->
        </div>

        <div class="admin-header-avatar" *ngIf="currentUser">
          <span *ngIf="currentUser && currentUser.image"
            class="avatar"
            [ngStyle]="{'background-image': imageUrl}"
          ></span>
          <span *ngIf="!currentUser || !currentUser.image"
          class="avatar"
          style="background-image: url('../assets/img/tmp/user-10.jpg');"
        ></span>
          <span class="admin-header-avatar-name"
            >{{ currentUser? full_name() : '' }} <i class="fa fa-chevron-down"></i
          ></span>
          <ul class="admin-header-avatar-menu">
            <li><a routerLink="/admin/dashboard" routerLinkActiveOptions="{ exact: true }" *ngIf="currentUser?.role == 'admin'">Admin</a></li>
            <li><a routerLink="/app/user/my-listings" routerLinkActiveOptions="{ exact: true }" *ngIf="currentUser?.role == 'landlord'">My Listings</a></li>
            <li><a routerLink="/app/profile/edit" routerLinkActiveOptions="{ exact: true }">Your Profile</a></li>
            <li><a routerLink="/app/profile/change-password" routerLinkActiveOptions="{ exact: true }">Change Password</a></li>
            <li><a routerLink="/auth/logout">Sign Out</a></li>
          </ul>
          <!-- /.admin-header-avatar-menu -->
        </div>


        <!-- /.header-nav -->
        <!-- <div class="header-toggle toggle">
          <span></span>
          <span></span>
          <span></span>
        </div> -->
        <!-- /.header-toggle -->
        <div class="header-actions header-action-black" *ngIf="currentUser && currentUser?.role == 'landlord'">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a routerLink="/app/listing/new" routerLinkActiveOptions="{ exact: true }" class="nav-link modal-submit" id="modal-action-submit">
                <i class="fa fa-plus"></i> <span>Add Listing</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.header-actions -->
      </div>
      <!-- /.header-inner -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header -->
</div>
