<form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" class="mb80">
  <fieldset>
    <legend>Basic Information</legend>
    <div
      class="form-group"
      [ngClass]="{
        'was-validated has-danger':
          !title.valid && (title.dirty || title.touched || f.submitted)
      }"
    >
      <label class="col-form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="listing.title"
        #title="ngModel"
        required
      />
      <div
        class="messages text-danger"
        *ngIf="title.invalid && (title.dirty || title.touched || f.submitted)"
      >
        Title is blank or invalid
      </div>
    </div>
    <!-- /.form-group -->
    <div
      class="form-group"
      [ngClass]="{
        'was-validated has-danger':
          !description.valid &&
          (description.dirty || description.touched || f.submitted)
      }"
    >
      <label class="col-form-label">Description</label>
      <textarea
        class="form-control"
        rows="6"
        name="description"
        [(ngModel)]="listing.description"
        #description="ngModel"
        required
      ></textarea>
      <div
        class="messages text-danger"
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched || f.submitted)
        "
      >
        Description is blank or invalid
      </div>
    </div>
    <!-- /.form-group -->
    <div class="row">
      <div class="col-sm-6">
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !category.valid &&
              (category.dirty || category.touched || f.submitted)
          }"
        >
          <label class="col-form-label">Category</label>
          <select
            class="form-control"
            name="category"
            [(ngModel)]="listing.category_id"
            #category="ngModel"
            required
          >
            <option
              *ngFor="let cat of categories; let i = index"
              [value]="cat.id"
              >{{ cat.name }}</option
            >
          </select>
          <div
            class="messages text-danger"
            *ngIf="
              category.invalid &&
              (category.dirty || category.touched || f.submitted)
            "
          >
            Category is blank or invalid
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !price.valid && (price.dirty || price.touched || f.submitted)
          }"
        >
          <label class="col-form-label">Rent (Amount)</label>
          <input
            type="number"
            pattern="[0-9]+([\.,][0-9]+)?"
            step="0.01"
            class="form-control"
            name="price"
            [(ngModel)]="listing.price"
            #price="ngModel"
            required
          />
          <div
            class="messages text-danger"
            *ngIf="
              price.invalid && (price.dirty || price.touched || f.submitted)
            "
          >
            Price is blank or invalid
          </div>
        </div>
      </div>
    </div>
    <!-- /.form-group -->
  </fieldset>

  <fieldset>
    <legend>Location</legend>
    <div class="row">
      <div class="col-sm-6">
        <div id="location-google-map" style="height: 450px;"></div>
        <div class="row mt-4">
          <div class="col md-6">
            <div
              class="form-group"
              [ngClass]="{
                'was-validated has-danger':
                  !latitude.valid &&
                  (latitude.dirty || latitude.touched || f.submitted)
              }"
            >
              <label class="col-form-label">Latitude</label>
              <input
                type="text"
                class="form-control"
                id="listing_location_latitude"
                name="latitude"
                [(ngModel)]="listing.latitude"
                #latitude="ngModel"
                required
              />
              <div
                class="messages text-danger"
                *ngIf="
                  latitude.invalid &&
                  (latitude.dirty || latitude.touched || f.submitted)
                "
              >
                Latitude is blank or invalid
              </div>
            </div>
            <!-- /.form-group -->
          </div>
          <div class="col md-6">
            <div
              class="form-group"
              [ngClass]="{
                'was-validated has-danger':
                  !longitude.valid &&
                  (longitude.dirty || longitude.touched || f.submitted)
              }"
            >
              <label class="col-form-label">Longitude</label>
              <input
                type="text"
                class="form-control"
                id="listing_location_longitude"
                name="longitude"
                [(ngModel)]="listing.longitude"
                #longitude="ngModel"
                required
              />
              <div
                class="messages text-danger"
                *ngIf="
                  longitude.invalid &&
                  (longitude.dirty || longitude.touched || f.submitted)
                "
              >
                Longitude is blank or invalid
              </div>
            </div>
            <!-- /.form-group -->
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-form-label">Search Address</label>
          <input
            type="text"
            class="form-control location-google-map-search"
            name="address"
            [(ngModel)]="listing.address"
            #address="ngModel"
          />
        </div>
        <!-- /.form-group -->
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !addressLineOne.valid &&
              (addressLineOne.dirty || addressLineOne.touched || f.submitted)
          }"
        >
          <label class="col-form-label">Address Line One</label>
          <input
            type="text"
            class="form-control"
            name="addressLineOne"
            [(ngModel)]="listing.addressLineOne"
            #addressLineOne="ngModel"
            required
          />
          <div
            class="messages text-danger"
            *ngIf="
              addressLineOne.invalid &&
              (addressLineOne.dirty || addressLineOne.touched || f.submitted)
            "
          >
            Address Line one is blank or invalid
          </div>
        </div>
        <!-- /.form-group -->
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !addressLineTwo.valid &&
              (addressLineTwo.dirty || addressLineTwo.touched || f.submitted)
          }"
        >
          <label class="col-form-label">Address Line Two</label>
          <input
            type="text"
            class="form-control"
            name="addressLineTwo"
            [(ngModel)]="listing.addressLineTwo"
            #addressLineTwo="ngModel"
          />
          <div
            class="messages text-danger"
            *ngIf="
              addressLineTwo.invalid &&
              (addressLineTwo.dirty || addressLineTwo.touched || f.submitted)
            "
          >
            Address Line two is blank or invalid
          </div>
        </div>
        <!-- /.form-group -->
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !city.valid && (city.dirty || city.touched || f.submitted)
          }"
        >
          <label class="col-form-label">City</label>
          <input
            type="text"
            class="form-control"
            name="city"
            [(ngModel)]="listing.city"
            #city="ngModel"
            required
          />
          <div
            class="messages text-danger"
            *ngIf="city.invalid && (city.dirty || city.touched || f.submitted)"
          >
            City is blank or invalid
          </div>
        </div>
        <!-- /.form-group -->
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !state.valid && (state.dirty || state.touched || f.submitted)
          }"
        >
          <label class="col-form-label">State</label>
          <input
            type="text"
            class="form-control"
            name="state"
            [(ngModel)]="listing.state"
            #state="ngModel"
            required
          />
          <div
            class="messages text-danger"
            *ngIf="
              state.invalid && (state.dirty || state.touched || f.submitted)
            "
          >
            State is blank or invalid
          </div>
        </div>

        <!-- /.form-group -->
        <div
          class="form-group"
          [ngClass]="{
            'was-validated has-danger':
              !pincode.valid &&
              (pincode.dirty || pincode.touched || f.submitted)
          }"
        >
          <label class="col-form-label">Pincode</label>
          <input
            type="text"
            class="form-control"
            name="pincode"
            [(ngModel)]="listing.pincode"
            #pincode="ngModel"
            required
          />
          <div
            class="messages text-danger"
            *ngIf="
              pincode.invalid &&
              (pincode.dirty || pincode.touched || f.submitted)
            "
          >
            Pincode is blank or invalid
          </div>
        </div>
        <!-- /.form-group -->
      </div>
    </div>
    <!-- /.row -->
  </fieldset>

  <fieldset>
    <legend>Image</legend>
    <div class="image-upload">
      <div class="listing-pic">
        <img class="img-responsive" src="{{ fileUrl }}" />
      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle p-2">
        <!-- <a href="#" class="profile-usertitle-job">
                  Edit Image
                </a> -->
        <input
          style="display: none"
          accept="image/x-png,image/gif,image/jpeg"
          type="file"
          (change)="onFileChanged($event)"
          #fileInput
        />
        <button type="button" class="btn btn-success" (click)="fileInput.click()">
          <i class="ti-plus"></i> Edit Image
        </button>
        <p>{{ this.file?.name }}</p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Additional Information</legend>
    <!-- <div class="form-check">
      <label class="col-form-label" class="form-check-label">
        <input type="checkbox" class="form-check-input" /> Send me
        newsletter
      </label>
    </div> -->
    <!-- /.form-check -->
    <div class="form-check">
      <label class="col-form-label" class="form-check-label">
        <div class="checkbox-wrapper">
          <input type="checkbox" class="form-check-input" />
          <span class="indicator"></span>
        </div>
        I agree with terms &amp; conditions
      </label>
    </div>

    <p class="text-center">
      <button type="submit" class="btn btn-success">Submit</button>
    </p>

    <!-- /.form-check -->
  </fieldset>
</form>
