<div class="admin-page-title">
  <div class="container-fluid">
    <a routerLink="/app/home" class="admin-page-title-back">
      <i class="fa fa-long-arrow-left"></i>
    </a>
    <h1>Dashboard</h1>
    <div class="admin-page-title-actions">
      <!-- <a href="#" class="btn btn-secondary"><i class="fa fa-cog"></i> Settings</a> -->
    </div>
    <!-- /.admin-page-title-actions -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.admin-page-title -->
<div class="admin-content">
  <div class="container-fluid">

    <div class="stats">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="stat-box stat-box-red">
            <div class="stat-box-icon"><i class="fa fa-pie-chart"></i></div>
            <strong>{{ dashboardData.userCount }}</strong>
            <span>Users</span>
          </div>
          <!-- /.stat-box -->
        </div>
        <!-- /.col-* -->
        <div class="col-md-6 col-lg-3">
          <div class="stat-box stat-box-green">
            <div class="stat-box-icon"><i class="fa fa-comments"></i></div>
            <strong>{{ dashboardData.listingCount }}</strong>
            <span>Total Listings</span>
          </div>
          <!-- /.stat-box -->
        </div>
        <!-- /.col-* -->
        <!-- <div class="col-md-6 col-lg-3">
          <div class="stat-box stat-box-blue">
            <div class="stat-box-icon"><i class="fa fa-diamond"></i></div>
            <strong>16,584</strong>
            <span>Total Objects</span>
          </div>
        </div> -->
        <!-- /.col-* -->
        <!-- <div class="col-md-6 col-lg-3">
          <div class="stat-box stat-box-purple">
            <div class="stat-box-icon"><i class="fa fa-database"></i></div>
            <strong>Very Good</strong>
            <span>Database performace</span>
          </div>
        </div> -->
        <!-- /.col-* -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.stats -->
    <!-- /.box -->
    <div class="cards-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="box">
            <div class="box-inner">
              <div class="box-title clearfix">
                <h2>Most recent listings</h2>
              </div>
              <!-- /.box-title -->
              <div class="cards">
                <div class="row">
                  <div class="col-sm-6" *ngFor="let listing of dashboardData?.latestListings">
                    <div class="card card-dark" [ngStyle]="{
                      'background-image': 'url(' + listing.thumbnail + ')'
                    }">
                      <div class="card-inner">
                        <!-- <div class="card-close">
                          <i class="fa fa-close"></i>
                        </div> -->
                        <!-- /.card-close -->
                        <div class="card-attribute">{{ listing.category | titlecase }}</div>
                        <div class="card-content">
                          <h2><a [routerLink]="['/app', 'listing', listing.id, 'show']">{{ listing.title }}</a></h2>
                          <p>{{ listing.address }}</p>
                        </div>
                        <!-- /.card-content -->
                      </div>
                      <!-- /.card-inner -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col-* -->

                </div>
                <!-- /.row -->
              </div>
              <!-- /.cards -->
            </div>
            <!-- /.box-inner -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.cards-wrapper -->

    <!-- /.box -->
  </div>
  <!-- /.container -->
</div>
