/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';

.profile-userpic {
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.profile-usertitle {
  margin-top: 10px;
  text-align: center;
}
.profile-usertitle-job {

}


$color-primary: #FF5722;
$color-secondary: #8BC34A;
$border: #ffc4b3;
/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.main-color {
    color: $color-primary;
}

.bg-main-color {
    background-color: $color-primary;
    color: #fff;
    border-color: $color-primary
}
.bg-sec-color {
    background-color: $color-secondary;
    color: #fff;
    border-color: $color-secondary
}
.table .bg-main-color th {
    color: #fff;
}

ngb-typeahead-window {
    max-height: 300px;
    overflow-y: scroll;
}


.show.dropdown-menu {
    display: block;
}

.gallery {
    // display: inline-block;
    margin-top: 20px;
}

@media print {
    .hidden-print {
      display: none !important;
    }
    .footer-wrapper {
        display: none !important;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .header-wrapper {
        visibility: hidden;
    }

    .table .bg-green th {
        color: #323232;
    }

}

.form-control:focus {
    border-color: #323232;
}

.has-danger .form-control:focus {
    border-color: #d9534f;
}

.btn-secondary {
    background-color: $color-secondary;
}

.btn-secondary:hover,
.btn-secondary:active {
    background-color: #8eda37;
}
#map-details {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-wrap {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.img-wrap .close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  padding: 5px;
  background-color: #00ad79;
  border: 1px solid #145a45;
  border-radius: 50%;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  line-height: 19px;
  display: block;
}
.img-wrap .close .fa {
  margin-top: -3px;
  font-size: 1.2rem;
  color: #fff;
  display: block;
}
.img-thumbnail {
  border: 1px solid #00ad79; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
  height: 150px;
}

.img-thumbnail:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.close-btn {
  color: #119660;
}

.text-wrap {
  word-wrap: break-word;
}
a.nav-link {
  cursor: pointer;
}
